/target
/os/target
/user/target
/os/src/link_app.S
/.nix-tools
/.direnv
/os/src/linker.ld
/kernel/target


# Added by cargo
#
# already existing elements were commented out

#/target
/kernel/src/link_app.S
